<h1>Teams</h1>
<a href="/teams/new">New Team</a>
<% @teams.each do |team| %>
  <p><%= team.league %> 
  <%= team.created_at %>
  <%= link_to "Edit", "/teams/#{team.id}/edit" %>
  <%= link_to "Delete", "/teams/#{team.id}", method: :delete %>
  </p>
<% end %>